<nav id="nav">
    <h1>
        <a href="/"><img style="width: 100px;" src="./image/rainbow.svg" alt=""></a>
        <button class="close_btn" onclick="navToggle()">✕</button>
    </h1>
    <h2 class="hidden">주메뉴</h2>
    <ul>
        <li>
            <h3><i class="material-symbols-outlined">vibration</i>slide</h3>
            <ul class="depth2">
                <li><a href="https://swiperjs.com/" target="_blank">swiper</a></li>
                <li><a href="https://kenwheeler.github.io/slick/" target="_blank">slick</a></li>
            </ul>
        </li>
        <li>
            <h3><i class="material-symbols-outlined">dashboard</i>layout</h3>
            <ul class="depth2">
                <li><a href="https://alvarotrigo.com/fullPage/" target="_blank">fullpage.js</a></li>
            </ul>
        </li>
        <li>
            <h3><i class="material-symbols-outlined">animation</i>scroll</h3>
            <ul class="depth2">
                <li><a href="https://michalsnik.github.io/aos/" target="_blank">AOS.js</a></li>
                <li><a href="https://wowjs.uk/" target="_blank">WOW.js</a></li>
            </ul>
        </li>
        <li>
            <h3><i class="material-symbols-outlined">interests</i>GSAP</h3>
            <ul class="depth2">
                <li><a href="./gsap/observer/observer.html" target="_blank">Observer</a></li>
                <li><a href="./gsap/scrolltrigger/index2.html" target="_blank">scroll trigger</a></li>
                <li><a href="./gsap/scrolltrigger/index.html" target="_blank">scroll trigger , scrollTo</a></li>
                <li><a href="./gsap/text/index.html" target="_blank">Text</a></li>
            </ul>
        </li>
        <li>
            <h3><i class="material-symbols-outlined">public</i>table</h3>
            <ul class="depth2">
                <li><a href="https://slickgrid.net/" target="_blank">SlickGrid</a></li>
                <li><a href="https://tabulator.info/" target="_blank">tabulator</a></li>
            </ul>
        </li>
        <li>
            <h3><i class="material-symbols-outlined">calendar_month</i>calendar</h3>
            <ul class="depth2">
                <li><a href="https://jqueryui.com/datepicker/" target="_blank">jquery datepicker</a></li>
                <li><a href="https://litepicker.com/" target="_blank">litepicker</a></li>
                <li><a href="https://www.daterangepicker.com/" target="_blank">daterangepicker</a></li>
                <li><a href="https://xdsoft.net/jqplugins/datetimepicker" target="_blank">datetimepicker</a></li>
            </ul>
        </li>
        <li>
            <h3><i class="material-symbols-outlined">public</i>canvas</h3>
            <ul class="depth2">
                <li><a href="http://fabricjs.com/" target="_blank">Fabric.js</a></li>
                <li><a href="./fabric/drawCircle.html" target="_blank">Fabric - draw circle</a></li>
                <li><a href="./fabric/drawPolygon.html" target="_blank">Fabric - draw polygon</a></li>
            </ul>
        </li>
        <li>
            <h3><i class="material-symbols-outlined">table_chart</i>chart</h3>
            <ul class="depth2">
                <li><a href="https://www.chartjs.org/" target="_blank">chart.js</a></li>
                <li><a href="https://developers.google.com/chart/interactive/docs/quick_start?hl=ko" target="_blank">구글차트</a></li>
                <li><a href="https://observablehq.com/@d3/gallery?utm_source=d3js-org&utm_medium=nav&utm_campaign=try-observable" target="_blank">D3.js</a></li>
            </ul>
        </li>
    </ul>
</nav>